html {
  font-size: 10px;
  font-family: 'Grandstander', cursive;
  background-color: #FFC0CB;
}

body {  
  font-size: 20px;
  text-align: left;
  /* font-size: 10px; px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Gayathri', sans-serif;
  background-color: #FFFDD0;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 1px 2px 2px black;
  color: #A52A2A; /* Белый цвет текста */
  font-size: 2em; /* Размер надписи */
  text-align: center
}

a {
  text-decoration: none; 
}

a:hover {
  font-size: 40px;
}

a:hover {
  font-size: 40px;
}

p,li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  height: 300px; 
  width: 300px;
}




